/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: transparent;
  height: 100vh;
  background: transparent;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden{
  display:none;
}
.control-panel{
  display: flex;
  flex-direction: row;
  align-self: center;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  background-color: #ffffff;
  width: 200px;
  height:50px;
}
.control-button {
  background-color: #ffffff;
  color: #555;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 0.8rem;
  cursor: pointer;
  opacity: 0.9;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  background-color: #ffffff;
  color: #555;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 0.8rem;
  box-shadow: 0px 8px 10px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
  margin: 10px;
}
.buttonGray {
  background-color: #555;
  color: aliceblue;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
  margin: 10px;
}
.buttonRed {
  background-color: red;
  color: aliceblue;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
  margin: 10px;
}
#btnTeams{
  background-color: blue;
  color: aliceblue;
}
#btnZoom{
  background-color: blue;
  color: aliceblue;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}
.label{
  font-size: 5vh;
  color: rgb(99, 104, 109);
}
.meetingLink{
  font-size: 1vh;
  color: rgb(99, 104, 109);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.kartochka{
  align-items: flex-start;
  background-color: #ffffff;
  border: 6px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-width: 800px;
  padding: 10px 30px;
  position: relative;

}
.schedule-header{
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  gap: 10px;
  display: flex;
  flex-direction: row;
  width: 860px;
  height:5vh;
  padding: 10px 30px;
  position: relative;
}
.zoom-logo{
  height: 48px;
  min-width: 48px;
  position: relative;
}
.text-subject{
  color: #111;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: medium;
  font-weight: 600;
  position: relative;
  width: 500px;
}
.text-time{
  color: #555;
  align-self: center;
  margin-bottom: 2px;
}
.text-organizer{
  color: #555;
  position: relative;
  width: fit-content;
}
.text-shedule-header{
  color: darkblue;
  font-size: large;
  font-weight: 600;
  position: relative;
  width: 560px;
}
.view-subject{
  align-items: center;
  display: flex;
  gap: 40px;
  position: relative;
  width: 800px;
}
.view-time-organizer{
  width: 800px;
  position: relative;
}
.view-time{
  align-items: flex-start;
  display: flex;
  gap: 20px;
  left: 0;
  top: 0;
  position: absolute;
  min-width: 300px;
}
.view-organizer{
  align-items: center;
  display: flex;
  gap: 20px;
  left: 300px;
  position: absolute;
  width: fit-content;
}
.icon-time{
  height: 24px;
  width: 24px;
}
.icon-person{
  height: 24px;
  width: 24px;
  position: relative;
}
.icon-booco{
  height: 24px;
  width: 24px;
  }
